<input class="form-control" id="name" name="recipe[name]" type="text" value="<%= @recipe.name %>">
    </div>
    <div class="form-group">
      <textarea class="form-control" id="description" name="recipe[description]" type="text" rows="8"><%= @recipe.description %></textarea>
    </div>
    <div class="form-group">
      <input class="form-control" id="picture" name="recipe[picture]" type="text" value="<%= @recipe.picture %>">
    </div>
